{{ define "library.tmpl" }}
<html>
<body>
<h1>
        {{ .title }}
</h1>
<p>This is data from Articles table</p>
<div>
        {{ .Articles }}
</div>
<p>This is data from Article_types table</p>
<div>
        {{ .Article_types }}
</div>
<p>This is data from Magazines table</p>
<div>
        {{ .Magazines }}
</div>
<p>This is data from Author table</p>
<div>
        {{ .Author }}
</div>
</body>
</html>
{{ end }}