{{ define "templates/library.tmpl" }}
<html><h1>
	{{ .title }}
</h1>
<p>Using posts/index.tmpl</p>
<div>
	{{ .Articles }}
</div>
<div>
	{{ .Article_types }}
</div>
<div>
	{{ .Magazines }}
</div>
<div>
	{{ .Author }}
</div>
</html>
{{ end }}